@(keyword: String, shops: List[models.Shop])

@main("Add Shop") {

	<h1>Add Shop</h1>
	
	Search
	@helper.form(action = routes.ShopController.index()) {
		<input type="text" name="q" value="@keyword">
		<input type="submit" value="Go">
   }
   
   @if(flash.containsKey("info")) {
  		@flash.get("info")
  		} else {
  		
		}
   
   @if(shops.length > 0) {
	<table class="table">
	　　<thead>
	  		<tr>
	    	  	<th></th>
	    		<th></th>
	    		<th></th>
	    	</tr>	
  		</thead>
	  	<tbody>
  		@for(s <- shops) {
    	<tr>
      		<td>@s.name</td>
      		<td><a href="@s.url" target="_blank"><input type="submit" value="Detail"></a></td>
      		<td>
      		@helper.form(action = routes.ShopController.saveshop()) {
      			<input type="hidden" name="shopid" value="@s.shopid">
      	     	<input type="submit" class="btn btn-danger btn-sm" value="Add">
      	    }
    		</td>
    	</tr>
  		}
  		</tbody>
	</table>
	}
}
